body{
	font-family: "Arimo",Arial, Helvetica, sans-serif!important;
}

body.subpages{
	background:url(img/body_bg.jpg) no-repeat fixed center 63px;
}


.row.main-content {
	padding:63px 20px 80px;
}

.row.main-content > .row {
  background: rgba(0, 0, 0, 0) url("img/twirl-rotate.gif") no-repeat scroll 3% bottom;
  height: 65px;
  margin-top: 30px;
  padding: 0 10px;
}

.row.main-content .pagetitle {
  padding-left: 88px;
}

.row.main-content .pagetitle h1 {
  color: #00367b;
  font-size: 26px;
  line-height: 2.2em;
  margin: 0;
}

.row.main-content .pagetitle h1 .title{
	font-family: "AgendaBold", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.row.main-content .pagetitle h1 .tag{
	font-family: "AgendaLight", Arial, Helvetica, sans-serif;
}

#sunday {
    float: right;
    padding-right: 20px;
}


/* OVERVIEW - PARAGRAPH */
#sign.button {
  background: #00367b none repeat scroll 0 0;
  font-family: "AgendaMedium",Arial,Helvetica,sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
  margin: 0 0 20px 0;
  padding: 9px 20px;
}

/* OVERVIEW - EVENT DETAILS */
#table-start {
    background-color: #feda2a;
    color: #f15b28;
    font-family: "AgendaMedium", Arial, Helvetica, sans-serif;
  	font-size:16px;
    padding: 7px 22px 5px;
    text-transform: uppercase;
}
#info-bar {
  background-color: #f3f1d1;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 10px;
}
#info-bar #bar-4 {
  color: #8d8c81;
  font-size: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-transform: uppercase;
}
#info-bar #bar-8 {
  font-size: 12px;
}

#paddingL {
    padding-left: 3%;
}

#paddingR {
    padding-right: 5%;
}

/* Filter dropdown CSS codes */

.filter-text {
    font-size: 0.7rem;
    padding-top: 3%;
}

.filter-select {
    background-color: transparent;
    border-color: transparent;
    height: 20%;
    width: 80%;
    font-size: 0.7rem;
    color: #003778;
    font-weight: bold;
}

.filter-select:hover {
    border-color: transparent;
}

.branch h5{
   font-family: "AgendaBold", Arial, Helvetica, sans-serif;
   color:#00367b;
   letter-spacing: 0.6px;
   font-size: 1.3em;
}

.time {
    font-family: "Arimo", Arial, Helvetica, sans-serif !important;
    font-size: 0.8em;
    color:#363636;
    position: relative;
	right:11px;
    bottom: 8px;
}
.time1 {
    font-family: "Arimo", Arial, Helvetica, sans-serif !important;
    font-size: 0.8em;
    color:#363636;
    position: relative;
    bottom: 8px;
}

.branch h6 {
    font-family: "AgendaBold", Arial, Helvetica, sans-serif;
    color: #414141;
    letter-spacing: 0.4px;
}
.branch p{
    line-height:10%;
    font-size:0.8em;
}
.otherbranches{
    font-family: "AgendaLight", Arial, Helvetica, sans-serif;
    font-size:1.4em;
    letter-spacing: 1px;
    left: 8px;
    padding-top: 10px;
}

.vivo{
    top:10px;
}
