@font-face {
    font-family: 'arimoregular';
    src: url('../fonts/arimoregular-webfont.eot');
    src: url('../fonts/arimoregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimoregular-webfont.woff2') format('woff2'),
         url('../fonts/arimoregular-webfont.woff') format('woff'),
         url('../fonts/arimoregular-webfont.ttf') format('truetype'),
         url('../fonts/arimoregular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arimoitalic';
    src: url('../fonts/arimoitalic-webfont.eot');
    src: url('../fonts/arimoitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimoitalic-webfont.woff2') format('woff2'),
         url('../fonts/arimoitalic-webfont.woff') format('woff'),
         url('../fonts/arimoitalic-webfont.ttf') format('truetype'),
         url('../fonts/arimoitalic-webfont.svg#arimoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arimobold_italic';
    src: url('../fonts/arimobolditalic-webfont.eot');
    src: url('../fonts/arimobolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimobolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arimobolditalic-webfont.woff') format('woff'),
         url('../fonts/arimobolditalic-webfont.ttf') format('truetype'),
         url('../fonts/arimobolditalic-webfont.svg#arimobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arimobold';
    src: url('../fonts/arimobold-webfont.eot');
    src: url('../fonts/arimobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimobold-webfont.woff2') format('woff2'),
         url('../fonts/arimobold-webfont.woff') format('woff'),
         url('../fonts/arimobold-webfont.ttf') format('truetype'),
         url('../fonts/arimobold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'agendaitalic';
    src: url('../fonts/agendamediumitalic-webfont.eot');
    src: url('../fonts/agendamediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agendamediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/agendamediumitalic-webfont.woff') format('woff'),
         url('../fonts/agendamediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/agendamediumitalic-webfont.svg#agendaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'agendamedium';
    src: url('../fonts/agendamedium-webfont.eot');
    src: url('../fonts/agendamedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agendamedium-webfont.woff2') format('woff2'),
         url('../fonts/agendamedium-webfont.woff') format('woff'),
         url('../fonts/agendamedium-webfont.ttf') format('truetype'),
         url('../fonts/agendamedium-webfont.svg#agendamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'agendaitalic';
    src: url('../fonts/agendalightitalic-webfont.eot');
    src: url('../fonts/agendalightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agendalightitalic-webfont.woff2') format('woff2'),
         url('../fonts/agendalightitalic-webfont.woff') format('woff'),
         url('../fonts/agendalightitalic-webfont.ttf') format('truetype'),
         url('../fonts/agendalightitalic-webfont.svg#agendaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'agendaregular';
    src: url('../fonts/agendalight-webfont.eot');
    src: url('../fonts/agendalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agendalight-webfont.woff2') format('woff2'),
         url('../fonts/agendalight-webfont.woff') format('woff'),
         url('../fonts/agendalight-webfont.ttf') format('truetype'),
         url('../fonts/agendalight-webfont.svg#agendaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'agendabold';
    src: url('../fonts/agendabold-webfont.eot');
    src: url('../fonts/agendabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agendabold-webfont.woff2') format('woff2'),
         url('../fonts/agendabold-webfont.woff') format('woff'),
         url('../fonts/agendabold-webfont.ttf') format('truetype'),
         url('../fonts/agendabold-webfont.svg#agendabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'agendaregular';
    src: url('../fonts/agendablack-webfont.eot');
    src: url('../fonts/agendablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agendablack-webfont.woff2') format('woff2'),
         url('../fonts/agendablack-webfont.woff') format('woff'),
         url('../fonts/agendablack-webfont.ttf') format('truetype'),
         url('../fonts/agendablack-webfont.svg#agendaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}