#homepage-wrapper{
  background-image: url("../images/homepage-1-bg.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

#slider{
  margin-bottom:0;
  text-align: center;
}



footer.homepage{

}