/* Custom css for mobile responsive */

@media only screen and (max-device-width: 480px) {
    .footernav {
        text-align: left;
    }
    .row.main-content > .row {
        background: none;
    }
    .row.main-content .pagetitle {
        padding-left: 20px;
    }
    .row.main-content .pagetitle h1 {
        color: #00367b;
        font-size: 140%;
        line-height: 1em;
        margin: 0;
        padding-top: 0.3em;
    }

    /* Events CSS Codes */

    .small-12.columns.show-for-small-only.event-pic {
        padding-left: 0;
        padding-right: 0;
    }

    .small-12.wrapper.left.mobile {
        padding-right: 0;
    }

    .row.event-table{
        margin: 0 -.9375rem;
        padding-left: 15px;
    }

    #info-tab-table{
        width: 18em;
    }

    #share-mail-content{
        width: 78%;
    }

    .vote-description{
        width: 4em;
    }
}

/* Mobile Nav */
.mobile-nav {
    background: white !important;
    position: fixed;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 100%;
    padding: 10px 40px;
    height: 63px;
}
.tab-bar .menu-icon span::after{
    box-shadow: 0 7px 0 1px black, 0 14px 0 1px black, 0 21px 0 1px black !important;
    width: 34px;
}
.page-content,
.mobile-helper-bar,
.footerClass{
    float: left;
    width: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.off-canvas-show ~ .page-content {
    overflow: hidden;
    -moz-transform: translateX(-16rem);
    -ms-transform: translateX(-16rem);
    -webkit-transform: translateX(-16rem);
    transform: translateX(-16rem);
}
.off-canvas-show ~ .footerClass {
    overflow: hidden;
    -moz-transform: translateX(-16rem);
    -ms-transform: translateX(-16rem);
    -webkit-transform: translateX(-16rem);
    transform: translateX(-16rem);
}
.off-canvas-show ~ .mobile-nav .mobile-helper-bar {
    overflow: hidden;
    -moz-transform: translateX(-16rem);
    -ms-transform: translateX(-16rem);
    -webkit-transform: translateX(-16rem);
    transform: translateX(-16rem);
}
.wrapper-off-canvas-show .exit-off-canvas {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1002;
}
.mobile-helper-bar button {
    color: #fff;
}
.nav__item ul {
    display: none;
}
.nav-primary {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1003;
    overflow-y: auto;
    width: 16rem;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform: translateX(16rem);
    -ms-transform: translateX(16rem);
    -webkit-transform: translateX(16rem);
    transform: translateX(16rem);
}
.nav-primary.off-canvas-show {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.nav-primary ul {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.nav-primary li {
    display: block;
    padding: .5rem 1rem;
    line-height: 1;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.nav-primary a {
    color: black;
    font-family: Avenir, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem 2rem !important;
    display: block;
    border: none !important;
}
.nav-primary > ul > li ul {
    background: #F5F5F5;
}
.nav-primary > ul > li > ul > li a {
    color: black !important;
    font-weight: normal !important;
}
.nav-primary > ul > li > ul > li > ul > li > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 0.75rem;
}
.nav-primary .mobile-nav-active,
.nav-primary .mobile-nav-active li,
.nav-primary .mobile-nav-active a{
    background: #00367C !important;
    color: white !important;
}
.nav__item a:hover {
    background: transparent !important;
}
.mobile-child-up:after  {
    content: "\25BE";
    font-size: 14px;
    padding-left: 10px;
}
.mobile-child-down:after  {
    content: "\25B4";
    font-size: 14px;
    padding-left: 10px;
}
.off-canvas-show {
    box-shadow: 0 0 5px #000;
}
.page-content {
    box-sizing: border-box;
}
.hamburger {
    height: 40px;
    padding: 0;
    margin: 0;
    color: #ed1c24;
}

