<div class="row">
    <div class="copyright medium-8 left">
        Copyright &copy; 2015 United Overseas Bank Limited Co. Reg. No. 193500026Z. All Rights Reserved.</div>
    <div class="footernav medium-4 large-3 right">
        <span class="links">
            <a href="http://www.uob.com.sg/important/index.html" target="_blank">
                Terms and Conditions
            </a>
        </span>
        <span>
            |
        </span>
        <span class="links">
            <a href="http://www.uob.com.sg/privacy/index.html" target="_blank">
                Privacy Policy
            </a>
        </span>
    </div>
</div>